asgiref==3.12.1
Django==5.2.17
djangorestframework==3.18.0
djangorestframework_simplejwt==5.5.1
psycopg==3.3.5
psycopg-binary==3.3.5
PyJWT==2.13.0
python-dotenv==1.2.3
sqlparse==0.6.0
typing_extensions==4.16.0
